* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 1200px) {
  .col-lg-4 {
    width: 30%;
    border: 2px solid black;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .col-md-6 {
    width: 45%;
    border: 2px solid black;
  }
  .col-md-12{ 
	width: 100%;
    border: 2px solid black;}
}
@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
    border: 2px solid black;
  }
}


h1{
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 2em;

}

section{
	float:left;
	display: block;
	background-color: gray;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	position: relative;
	top:40px;
	
}

span{
	font-size: 1.5em;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	position: absolute;
	margin-bottom: 10px;
	width: 150px;
	text-align: center;
}

#s1{
	background-color: lightblue;
}
#s2{
	background-color: red;
}
#s3{
	background-color: orange;
}
p{
	margin-top: 10px;
}